/* @import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:400italic,700,900|Raleway:500|Martel+Sans:400,700); */
/* @font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
} */

/* line 17, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: '';
}

/* line 19, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 21, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
body {
  background: rgba(243, 239, 224, 0.9);
  /* color: #262626; */
  /* color: #7b7b7b; */
  color: #100;
  font-weight: 400;
  font-size: 16px/28px;
  font-family: "Martel Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  overflow-y: scroll;
  cursor: url(../img/cursor-auto.png), auto;
  /* force scroll to appear */
}

/* helper class when showing content */
/* line 34, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.noscroll {
  overflow: hidden;
}

/* line 38, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
a {
  outline: none;
  color: rgba(83, 200, 252, 0.9);
  text-decoration: none;
  cursor: url(../img/cursor-rockon.png), auto;
}

/* line 44, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
a:hover,
a:focus {
  /* color: #333; */
  /* color:  #262626; */
  color: #1C4C55;
  outline: none;
  cursor: url(../img/cursor-rockon.png), auto;
}

/* line 50, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
button:focus {
  outline: none;
  cursor: url(../img/cursor-rockon.png), auto;
}

/* Sidebar */
/* line 55, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.sidebar {
  text-align: center;
  background: url(../img/background_repeat.png) left top repeat rgba(37,46,68,0.9); /*rgba(40, 71, 112, 0.7)*/
  z-index: 1000;
  position: fixed;
  width: 300px;
  max-width: 100%;
  height: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 2em 1em;
}

/* line 69, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.sidebar h1 {
  margin: 0.75em 0 0;
  font-size: 2em;
  line-height: 1;
  font-family: "Playfair Display", serif;
}

/* line 76, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.sidebar h1 span {
  display: block;
}

/* line 80, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.sidebar h1 img {
  margin: -3em 0 -2em;
  width: 200px;
  height: auto;
}

/* line 86, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.sidebar h2 {
  color: #fff;
  font-family: "Playfair Display", serif;
  /* font-style: italic; */
}

/* line 93, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.sidebar p {
  text-align: -webkit-auto;
  margin: 0.25em 0 0.25em;
  line-height: 1.7;
  color: #fff;
  font-size: 0.9em;
}

/* estilos de boton contacto en sidebar */
/* line 102, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.sidebar .btn {
  border: none;
  box-shadow: none;
  border-radius: .25em;
  font-size: 0.9rem;
  color: #ffffff;
  padding: .6em 2.2em;
  cursor: pointer;
  background: #5f8ee4;
  cursor: url(../img/cursor-rockon.png), auto;
}

/* line 113, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.sidebar .btn-outline {
  color: #ffffff;
  background: transparent;
  box-shadow: inset 0 0 0 1px #53C8FC;
}

/* line 119, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.sidebar .btn.btn-outline:hover {
  color: #ffffff;
  background: #53C8FC;
}

/* Codrops links */
/* line 124, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.codrops-links {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  min-height: 45px;
}

/* line 132, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.codrops-links::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #ddd;
  content: '';
  -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
  transform: rotate3d(0, 0, 1, 22.5deg);
}

/* line 144, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.codrops-icon {
  display: inline-block;
  margin: 0.5em;
  padding: 0em 0;
  width: 1.5em;
  text-decoration: none;
}

/* line 152, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.codrops-icon span {
  display: none;
}

/* line 156, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.codrops-icon:before {
  margin: 0 5px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'codropsicons';
  line-height: 1;
  speak: none;
}

/* line 167, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.codrops-icon--drop:before {
  content: "\e001";
}

/* line 171, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.codrops-icon--prev:before {
  content: "\e004";
}

/* Demo links */
/* line 176, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.codrops-demos {
  margin: 2em 0 0;
  font-size: 0.75em;
}

/* line 181, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.codrops-demos a {
  display: inline-block;
  margin: 0 0.5em;
  font-size: 16px;
  color: rgba(41, 169, 225, 0.9);
}

/* line 188, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.codrops-demos span {
  font-size: 0.4em;
  padding: 2px;
  color: #29a9e1;
}

/* line 195, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.codrops-demos a.current-demo {
  color: #333;
  font-weight: bold;
}

/* line 200, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.codrops-demos a.current-demo:focus {
  color: #aaa;
}

/* line 204, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.related {
  font-size: 0.85em;
  padding-bottom: 1em;
}

/* line 209, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.related h3 {
  margin: 3em 0 0.5em 0;
  font-size: 0.95em;
}

/* line 214, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.related a {
  display: block;
  color: inherit;
}

/* line 219, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.related a:hover,
.related a:focus {
  color: #414741;
}

/* Main content */
/* line 225, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.main {
  position: relative;
  z-index: 50;
}

/* Grid contenedor */
/* line 231, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid {
  position: relative;
}

/* Overlay */
/* line 236, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid::after {
  content: '';
  background: rgba(202, 202, 202, 0.4);
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 250, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.view-single .grid::after {
  opacity: 1;
}

/* Top bar above the grid */
/* line 255, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.top-bar {
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  line-height: 1;
  padding: 15px 15px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/* line 268, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.top-bar__headline {
  margin: 0;
  font-size: 0.75em;
}

/* Menu button for toggling the sidebar (appears on small screen) */
/* line 274, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.menu-toggle {
  position: fixed;
  z-index: 100;
  display: block;
  width: 25px;
  height: 25px;
  top: 14px;
  left: 14px;
  cursor: url(../img/cursor-rockon.png), auto;
  background: none;
  border: none;
  display: none;
  margin: -2px 15px 0 0;
}

/* line 289, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.menu-toggle span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  /* background-color: rgba(83, 200, 252, 0.9); */
  background-color: #c04444;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 306, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.menu-toggle span:before,
.menu-toggle span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(83, 200, 252, 0.9); */
  background: #c04444;
  content: '';
}

/* line 316, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.menu-toggle span:before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

/* line 321, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.menu-toggle span:after {
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
}

/* Filter/dropdown dummy on the right */
/* line 327, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.filter {
  text-align: right;
  font-size: 0.75em;
  margin-left: auto;
}

/* line 333, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.dropdown {
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
  color: rgba(83, 200, 252, 0.9);
}

/* line 340, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.dropdown::after {
  content: '\25BC';
  margin-left: 2px;
  font-size: 80%;
}

/* Grid item */
/* line 347, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid__item {
  padding: 45px 55px 30px;
  position: relative;
  color: inherit;
  min-height: 300px;
  cursor: pointer;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

/* Grid item "border" */
/* line 369, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid__item::before {
  position: absolute;
  content: '';
  top: 0px;
  right: 55px;
  bottom: 0px;
  left: 55px;
  border-bottom: 1px solid rgba(74, 74, 74, 0.075);
  /* box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19); */
}

/* line 379, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid__item * {
  z-index: 10;
}

/* grid item element and full content element styles */
/* line 384, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.title {
  margin: 0;
  font-size: 1.875em;
  font-family: "Playfair Display", serif;
  text-align: center;
}

/* line 391, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.title--preview {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}

/* line 403, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.title span {
  margin-right: 5px;
}

/* line 407, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.loader {
  height: 1px;
  width: 40%;
  margin: 1em auto;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
}

/* line 415, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.loader::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: rgba(83, 200, 252, 0.9);
  left: 0;
  top: -1px;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

/* line 429, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid__item--loading .loader::before {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* line 438, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.category {
  margin: 0;
  position: relative;
  font-size: 0.95em;
  font-style: italic;
  font-family: "Playfair Display", serif;
  text-align: center;
  display: block;
}

/* line 448, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.title--preview,
.loader,
.category {
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

/* closing (delays) */
/* line 458, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.title--preview {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/* line 463, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.loader {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 468, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid__item .category {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* opening */
/* line 474, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid__item--animate .title--preview {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

/* line 482, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid__item--animate .loader {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 0;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

/* line 490, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid__item--animate .category {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  opacity: 0;
  -webkit-transform: translate3d(0, -40px, 0);
  transform: translate3d(0, -40px, 0);
}

/* line 498, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta {
  font-size: 0.765em;
  text-align: left;
}

/* line 503, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta .fa {
  margin-right: 4px;
}

/* line 507, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta:before, .meta:after {
  display: table;
  content: '';
}

/* line 508, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta:after {
  clear: both;
}

/* line 510, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta__avatar {
  display: block;
  /* border: 3px solid; */
  border-radius: 1%;
  margin: 2em auto;
  max-width: 100%;
}

/* line 517, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta--preview .meta__avatar {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

/* line 522, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid__item:hover .meta--preview .meta__avatar,
.grid__item:focus .meta--preview .meta__avatar {
  -webkit-filter: none;
  filter: none;
}

/* line 528, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta__date,
.meta__reading-time {
  display: block;
  float: left;
  color: #aaa;
}

/* line 535, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta__reading-time {
  text-align: right;
  float: right;
}

/* line 540, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta__misc {
  display: block;
  clear: both;
  text-align: left;
  padding: 5px 0;
}

/* line 547, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta__misc--seperator {
  padding: 20px 0 0;
  margin: 65px 0 0;
  border-top: 1px solid rgba(243, 239, 224, 0.9);
}

/* line 553, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.article-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* line 560, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.article-nav button {
  border: none;
  color: rgba(83, 200, 252, 0.9);
  background: none;
}

/* line 566, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.article-nav button:hover {
  color: #333;
}

/* line 571, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta--preview .meta__avatar,
.meta--preview .meta__date,
.meta--preview .meta__reading-time {
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  border: 3px solid #100;
  box-shadow: 0 10px 0 -5px #53C8FC, 0 20px 0 -10px #a29e5e, 0 30px 0 -16px #dedcb9;
}

/* line 581, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid__item--loading .meta__avatar {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 586, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid__item--loading .meta__date {
  -webkit-transition-delay: 0.17s;
  transition-delay: 0.17s;
}

/* line 591, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid__item--loading .meta__reading-time {
  -webkit-transition-delay: 0.24s;
  transition-delay: 0.24s;
}

/* line 597, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.grid__item--loading .meta__avatar,
.grid__item--loading .meta__date,
.grid__item--loading .meta__reading-time {
  -webkit-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
  opacity: 0;
}

/* Grid footer  */
/* line 607, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.page-meta {
  width: 100%;
  background: url(../img/background_repeat.png) left top repeat #cccccc; /*rgba(204, 211, 216, 0.5) */
  width: 100%;
  padding: 15px 15px 10px;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  cursor: default;
  color: #262626;
  cursor: url(../img/cursor-auto.png), auto;
  /* color: #333; */
}

/* Placeholder element (dummy that gets animated when we click on an item) */
/* line 623, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.placeholder {
  pointer-events: none;
  position: absolute;
  width: calc(100% + 5px);
  height: calc(100vh + 5px);
  z-index: 100;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

/* line 636, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.placeholder.placeholder--trans-in {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* line 643, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.placeholder.placeholder--trans-out {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* main content */
/* line 649, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 0;
  /* Avoid second scroll bar in Chrome! */
  visibility: hidden;
  z-index: 400;
  overflow: hidden;
}

/* line 661, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.content.content--show {
  height: 100vh;
  pointer-events: auto;
  visibility: visible;
  /* color: #1C4C55; */
}

/* scroll helper wrap */
/* line 669, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.scroll-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* single content item */
/* line 681, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.content__item {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding: 60px 60px 80px 60px;
  pointer-events: none;
  font-size: 0.85em;
}

/* line 701, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.content__item.content__item--show {
  height: auto;
  min-height: 100vh;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* content elements */
/* line 711, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.category--full {
  font-size: 1.25em;
  margin-bottom: 20px;
  color: #a29e5e;
  /* color: rgba(83, 200, 252, 0.9); */
}

/* line 717, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.title--full {
  font-size: 3.25em;
}

/* line 721, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta--full {
  font-size: 1em;
  margin: 0 auto 2em;
  max-width: 1200px;
}

/* line 725, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta--full .meta__author {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 731, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta--full .meta__author::before {
  content: '';
  font-weight: normal;
}

/* line 735, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta--full .meta__category {
  font-style: italic;
  float: left;
  margin: 0 5px;
  font-family: "Playfair Display", serif;
}

/* line 741, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta--full .meta__category::before {
  content: 'in ';
}

/* line 744, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta--full .meta__avatar {
  margin: 1em auto;
}

/* line 749, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.category--full,
.title--full,
.meta--full .meta__avatar,
.meta--full .meta__author,
.meta--full .meta__date,
.meta--full .meta__reading-time {
  opacity: 0;
}

/* line 758, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.content__item p {
  opacity: 0;
}

/* line 762, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.category--full,
.title--full {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

/* line 769, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.meta--full .meta__avatar,
.meta--full .meta__author,
.meta--full .meta__date,
.meta--full .meta__reading-time {
  -webkit-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
}

/* line 779, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.content__item--show .category--full,
.content__item--show .title--full,
.content__item--show .meta--full .meta__avatar,
.content__item--show .meta--full .meta__author,
.content__item--show .meta--full .meta__date,
.content__item--show .meta--full .meta__reading-time {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

/* line 795, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.content__item--show .category--full,
.content__item--show .title--full {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 801, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.content__item--show .title--full {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

/* line 806, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.content__item--show .meta--full .meta__avatar {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  border: 3px solid;
  border-radius: 50%;
}

/* line 811, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.content__item--show .meta--full .meta__date {
  -webkit-transition-delay: 0.27s;
  transition-delay: 0.27s;
}

/* line 816, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.content__item--show .meta--full .meta__reading-time {
  -webkit-transition-delay: 0.34s;
  transition-delay: 0.34s;
}

/* line 821, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.content__item--show.content__item p {
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.25s;
  transition: opacity 0.5s 0.25s;
  color: #100;
}
.content__item--show.content__item .family {
  display: block;
  max-width: 100%;
  height: auto;  
}


/* close button (for content and sidebar) */
/* line 828, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.close-button {
  position: absolute;
  border: none;
  background: none;
  margin: 0;
  z-index: 100;
  top: 0;
  right: 0;
  font-size: 24px;
  color: #F1511B;
  cursor: url(../img/cursor-rockon.png), auto;
  pointer-events: none;
  padding: 20px 40px;
  opacity: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* line 852, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.close-button span {
  /* display: none; */
}

/* line 856, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.close-button:hover {
  color: #c84252;
}

/* show class for content close button */
/* line 861, C:/Users/imartinez/Documents/Proyect/iukones/scss/_base.scss */
.close-button--show {
  opacity: 1;
  pointer-events: auto;
}

/* Viewport sizes based on column number and sidebar */
/* 1 column */
/* 2 columns */
/* 3 columns */
/* 4 columns */
/* 5 columns */
/* 6 columns */
@media screen and (min-width: 768px) { /*era 600px*/
  /* line 10, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  html,
  body,
  .container,
  .main {
    height: 100vh;
  }
  /* line 17, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .main {
    height: 100%;
    margin-left: 300px;
  }
  /* line 22, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .content__item {
    font-size: 1em;
  }
  /* line 26, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .grid__item {
    padding: 45px 45px 30px;
  }
  /* Demo ad */
  /* line 31, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  body #cdawrap {
    right: auto;
    left: 30px;
    top: auto;
    bottom: 0;
    background: none;
    border: none;
    width: 240px;
    background: rgba(243, 239, 224, 0.9);
  }
  /* line 42, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  body #cdawrap .carbon-text {
    color: #7b7b7b;
  }
  /* line 46, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  body #cdawrap a.carbon-poweredby {
    color: #7883C4;
  }
  /* line 50, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  body #cdawrap a:hover.carbon-poweredby {
    color: #333;
  }
  /* line 54, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  body #cdawrap #cda-remove {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  /* line 60, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* 2 columns */
  /* line 71, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .grid__item {
    width: 50%;
    border: none;
  }
  /* line 76, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .grid__item::before {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid rgba(74, 74, 74, 0.075);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  }
  /* line 86, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .grid__item:hover::before,
  .grid__item:focus::before {
    border: 3px solid rgba(106, 160, 215, 0.5);
  }
  /* line 91, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .grid__item--loading.grid__item::before {
    opacity: 0;
  }
}

@media screen and (min-width: 1200px) {
  /* 3 columns */
  /* line 98, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .grid__item {
    height: auto;
    width: 50%;
  }
}

@media screen and (min-width: 1500px) {
  /* 4 columns */
  /* line 107, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .grid__item {
    width: 50%;
    /* width: 25%; */
  }
}

@media screen and (min-width: 1800px) {
  /* 5 columns */
  /* line 115, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .grid__item {
    width: 100%;
    /*width: 20%;*/
  }
}

@media screen and (min-width: 2100px) {
  /* 6 columns */
  /* line 123, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .grid__item {
    width: 100%;
    /*width: 16.66%;*/
  }
}

/* small screen changes for sidebar (it becomes an off-canvas menu) */
@media screen and (max-width: 768px) {
  /* line 131, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .sidebar {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
  }
  /* line 137, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .sidebar.sidebar--open {
    background: url(../img/background_repeat.png) left top repeat rgba(40, 71, 112, 0.97);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
  }
  /* line 143, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .sidebar.sidebar--open ~ .main {
    pointer-events: none;
  }
  /* line 146, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .top-bar {
    padding: 22px 15px 10px 60px;
  }
  /* line 149, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .menu-toggle {
    display: inline-block;
  }
  /* line 152, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .sidebar .close-button {
    opacity: 1;
    pointer-events: auto;
  }
  /* line 156, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .title--full {
    font-size: 2em;
  }
  /* line 159, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .content__item {
    padding: 80px 20px 40px;
  }
  /* line 162, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .content .close-button {
    padding: 19px 25px;
    /* padding: 10px 20px; */
  }
  /* line 165, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  .content .close-button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    border-bottom: 1px solid rgba(243, 239, 224, 0.9);
    width: 100vw;
    height: 50px;
    pointer-events: none;
    z-index: -1;
  }
}

@media screen and (max-height: 580px) {
  /* line 180, C:/Users/imartinez/Documents/Proyect/iukones/scss/_mediaqueries.scss */
  body #cdawrap {
    display: none;
  }
}

/* Redefine some styles for this layout */
/* line 16, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
body {
  background: rgba(243, 239, 224, 0.9);

}

/* line 20, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.content {
  left: auto;
  right: 0;
  width: 100vw;
}

/* line 36, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.fa-heart {
  color: #c84252;
}

/* Redefine the delays for the content items when they appear; redefine the translation (now from the left) */
/* line 41, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.title--preview {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/* line 46, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.loader {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 51, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.grid__item .category {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 56, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.grid__item--animate .title--preview {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate3d(-20px, 0, 0);
  transform: translate3d(-20px, 0, 0);
}

/* line 63, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.grid__item--animate .loader {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: translate3d(-30px, 0, 0);
  transform: translate3d(-30px, 0, 0);
}

/* line 70, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.grid__item--animate .category {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

/* line 77, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.category--full,
.title--full {
  -webkit-transform: translate3d(40px, 0, 0);
  transform: translate3d(40px, 0, 0);
}

/* line 83, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.content__item--show .title--full {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

@media screen and (min-width: 768px) {
  /* line 89, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .sidebar,
  .grid {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }
  /* line 94, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .view-single .sidebar,
  .view-single .grid {
    -webkit-transform: translate3d(calc(280px - 100vw), 0, 0);
    transform: translate3d(calc(280px - 100vw), 0, 0);
  }
  /* line 99, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .content__item {
    right: 0;
    padding-left: 340px;
  }
  /* line 103, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .meta--full {
    position: fixed;
    width: 280px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    font-size: 0.85em;
    padding: 15px 30px;
  }
  /* line 113, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .article-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(243, 239, 224, 0.9);
  }
  /* line 120, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .article-nav button {
    width: 50%;
    padding: 25px;
  }
  /* line 124, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .article-nav button:hover {
    color: #fff;
    background: rgba(83, 200, 252, 0.9);
  }
  /* line 128, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .article-nav button:first-child {
    border-right: 1px solid rgba(243, 239, 224, 0.9);
  }
}

@media screen and (max-width: 899px) {
  /* line 135, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .meta--full .meta__date,
  .meta--full .meta__reading-time {
    float: none;
    text-align: center;
  }
  /* line 140, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .meta__misc--seperator {
    margin-top: 20px;
  }
  /* line 143, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .article-nav button span {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  /* line 149, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .meta__misc,
  .article-nav {
    display: none;
  }
}

/* line 156, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.divider {
  background: #a29e5e;
  height: 4rem;
  margin: 0 auto;
  width: .0625rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/* line 165, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.articles {
  margin-bottom: 2.5rem;
  overflow: hidden;
}

/* line 170, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.articles h2 {
  font-size: 1.875rem;
  line-height: 1.33333;
}

/* line 175, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.masonry .article {
  display: table;
  width: 100%;
}

/* line 186, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.masonry .photo {
  display: table-cell;
  padding-bottom: 26%;
  width: 50%;
}

/* line 192, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.article {
  position: relative;
}

/* line 196, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.article .photo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  margin-bottom: 2.5rem;
  overflow: hidden;
  position: relative;
}

/* line 206, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.photo {
  background-image: url(../img/marvi-pro.jpg);
}

/* line 210, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.link-overlay {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 219, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.link-overlay:after {
  background-color: rgba(0, 0, 0, 0.3);
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

/* line 234, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.link-overlay:hover:after {
  opacity: 1;
}

/* line 238, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.masonry .copy {
  box-sizing: border-box;
  display: table-cell;
  padding: 0 4.375rem;
  vertical-align: middle;
  width: 50%;
}

/* line 246, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.masonry .copy h2 {
  margin: 0 0 1.875rem;
}

/* line 249, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.masonry .copy h2, .masonry .copy p {
  max-width: 30rem;
}

/* line 252, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.home-b2c h2 {
  color: #f85c4b;
}

/* line 255, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.masonry .copy p {
  margin-bottom: 1.875rem;
}

/* line 258, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.masonry .copy h2, .masonry .copy p {
  max-width: 30rem;
}

/* line 262, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.mansonry a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

/* line 268, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.copy .arrow-cta {
  color: #53c8fc;
}

/* line 276, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.home-b2b .photo {
  background-image: url(../img/home-b2c.jpg);
}

/* line 280, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.masonry .copy.txt-right {
  text-align: right;
}

/* line 284, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.masonry .copy.txt-right h2, .masonry .copy.txt-right p, .masonry .copy.txt-right .arrow-cta {
  clear: right;
  float: right;
}

/* line 289, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.home-b2b h2 {
  color: #f8ad4b;
}

/* line 293, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.masonry .article:after {
  clear: both;
  content: '';
  display: table;
}

@media (min-width: 60em) {
  /* line 301, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout_with-border {
    border-width: 1.5em 1.5em 0 1.5em;
  }
  .work-callout_with-border_2{
    border-width: 1.5em 1.5em 1.5em 1.5em;
  }
}

/* line 305, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout_with-border {
  border-style: solid;
  /* border-color: #100; */
  border-color: rgba(243, 239, 224, 0.9);
  /* border-color: #D5F2F7; */
  border-width: 1em 1em 0 1em;
}
.work-callout_with-border_2{
  border-style: solid;
  /* border-color: #100; */
  border-color: rgba(243, 239, 224, 0.9);
  border-width: 1em 1em 1em 1em;
}


@media (min-width: 60em) {
  /* line 312, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout {
    display: table;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: calc(100% - 4em);
    max-width: 135em;
    margin: 0 auto;
    min-height: 26em;
  }
}

/* line 328, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout {
  color: #1C4C55;
}

/* line 334, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout--media {
  padding: 0;
  overflow: hidden;
  background-color: #0f3138;
}

/* line 339, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout {
  color: #1C4C55;
}

@media (min-width: 60em) {
  /* line 343, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout--media {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    float: left;
    width: 60%;
  }
}

/* line 356, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout--image-wrapper {
  margin: 0;
  line-height: 0;
  overflow: hidden;
}

@media (min-width: 60em) {
  /* line 362, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout--0 {
    background: url(../img/trabajo.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
  }
  .work-callout--1 {
    background: url(../img/marvi-pro.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
  }
  .work-callout--2 {
    background: url(../img/app-album.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
  }
  .work-callout--3 {
    background: url(../img/appRecibos2.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
  }
}

@media (min-width: 60em) {
  /* line 370, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout--image-wrapper {
    margin-bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-position: center;
    background-size: cover;
  }
}

/* line 385, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout--image-wrapper a {
  display: block;
  margin: 0;
}

/* line 390, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout--image {
  width: 100%;
  max-width: auto;
}

@media (min-width: 60em) {
  /* line 395, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout--image {
    visibility: hidden;
  }
}

/* line 400, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout--content {
  position: relative;
  padding: 4vw;
  background-color: #fff;
  margin-top: 0;
}

@media (min-width: 60em) {
  /* line 408, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout--content {
    float: right;
    width: 40%;
    margin-top: 0;
  }
}

/* line 415, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout--title {
  margin: 0;
  margin-top: 2em;
  padding: 0;
  font-size: 1em;
  color: #50B7C8;
}

/* line 423, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout--title h2 {
  line-height: 1.125;
}

@media (min-width: 60em) {
  /* line 427, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout--title {
    font-size: 1.5em;
  }
}

@media (min-width: 32em) {
  /* line 432, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout--title {
    font-size: 1.25em;
    padding: 0;
  }
}

/* line 437, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout--title a {
  /* color: #50B7C8; */
  color: #1C4C55;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

/* line 443, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout--body {
  margin: 0;
  margin-top: .15em;
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

@media (min-width: 60em) {
  /* line 451, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout--body {
    font-size: 1.5em;
    max-width: 22em;
  }
}

@media (min-width: 32em) {
  /* line 458, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout--body {
    font-size: 1.25em;
    padding: 0;
  }
}

/* line 464, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout--body p {
  margin: .5em 0 0 0;
  line-height: 1.25em;
}

/* line 468, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.wysiwyg p {
  font-size: 1.05em;
  line-height: 1.8em;
}

/* line 472, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout--button-wrapper {
  padding-top: 1em;
}

/* line 475, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout--button {
  background-color: #fff;
  color: #50B7C8;
  vertical-align: middle;
  margin-left: 0;
  padding: .75em;
  font-size: .75em;
  font-weight: 600;
  box-shadow: inset 0 0 0 1px #50B7C8;
}
span.icon-share {
  /* font-size: 1.1em; */
  position: relative;
  top: 1px;
  margin-left: 0.7em;
}

/* line 484, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.work-callout--button:hover {
  color: #EAFCFF;
  background-color: #1C4C55;
}

@media (min-width: 32em) {
  /* line 489, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout--button {
    font-size: 1em;
  }
}

@media (min-width: 60em) {
  /* line 495, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout--button {
    margin-top: 8vh;
  }
}

/* line 500, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.button_inline {
  display: inline-block;
}

/* line 503, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.button {
  border: none;
  margin: 0;
  cursor: pointer;
}

/* line 508, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.button_standard {
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  padding: 0.8em 1.4em;
}

@media (min-width: 60em) {
  /* line 514, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout--button {
    margin-top: 8vh;
  }
}

@media (min-width: 32em) {
  /* line 519, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout--button {
    font-size: 1em;
  }
}

@media (min-width: 60em) {
  /* line 524, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
  .work-callout--content:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    left: -2.4375em;
    margin-top: -.9375em;
    border-color: transparent;
    border-right-color: #fff;
    border-width: .9375em 1.25em;
    pointer-events: none;
  }
}

/* line 539, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.button_has-external-icon:after, .foundry-article--content .the-link:after {
  content: "\e603";
  font-size: 1.1em;
  position: relative;
  top: 1px;
}

/* line 545, C:/Users/imartinez/Documents/Proyect/iukones/scss/style.scss */
.button_has-icon:after, .foundry-article--content .the-link:after {
  margin-left: 1em;
  font-family: Icon;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*# sourceMappingURL=../css/style.map */