$item_width: 300px;
$sidebar_width: 300px;
$color_primary: rgba(243, 239, 224, 0.9);
$color_secondary: #fff;
$color_tercery: rgba(40, 71, 112, 0.7);
// $color_tercery: rgba(218, 190, 202, 0.89);
$color_link: rgba(83, 200, 252, 0.9);
$anim-time: 0.5s;

$meta_width: 280px;

@import "base";
@import "mediaqueries";

/* Redefine some styles for this layout */
body {
	background: $color_primary;
}

.content {
	left: auto;
	right: 0;
	width: 100vw;
}

// .content__item p {
// 	font-size: 1.15em;
// }

// .content__item p:first-of-type {
// 	margin-top: 3em;
// 	font-size: 1.15em;
// 	font-weight: bold;
// }

.fa-heart {
	color: #c84252;
}

/* Redefine the delays for the content items when they appear; redefine the translation (now from the left) */
.title--preview {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.loader {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.grid__item .category {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.grid__item--animate .title--preview {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0);
}

.grid__item--animate .loader {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
	-webkit-transform: translate3d(-30px, 0, 0);
	transform: translate3d(-30px, 0, 0);
}

.grid__item--animate .category {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translate3d(-40px, 0, 0);
	transform: translate3d(-40px, 0, 0);
}

.category--full,
.title--full {
	-webkit-transform: translate3d(40px, 0, 0);
	transform: translate3d(40px, 0, 0);
}

.content__item--show .title--full {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

@media screen and (min-width: $viewport_xs) {
	.sidebar,
	.grid {
		-webkit-transition: -webkit-transform $anim-time;
		transition: transform $anim-time;
	}
	.view-single .sidebar,
	.view-single .grid {
		-webkit-transform: translate3d(calc(#{$meta_width} - 100vw),0,0);
		transform: translate3d(calc(#{$meta_width} - 100vw),0,0);
	}
	.content__item {
		right: 0;
		padding-left: $meta_width + 60px;
	}
	.meta--full {
		position: fixed;
		width: $meta_width;
		height: 100%;
		background: $color_secondary;
		top: 0;
		left: 0;
		font-size: 0.85em;
		padding: 15px 30px;
	}
	.article-nav {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 1px solid $color_primary;
	}
	.article-nav button {
		width: 50%;
		padding: 25px;
	}
	.article-nav button:hover {
		color: #fff;
		background: $color_link;
	}
	.article-nav button:first-child {
		border-right: 1px solid $color_primary;
	}

}

@media screen and (max-width: $viewport_s - 1px) {
	.meta--full .meta__date,
	.meta--full .meta__reading-time {
		float: none;
		text-align: center;
	}
	.meta__misc--seperator {
		margin-top: 20px;
	}
	.article-nav button span {
		display: none;
	}
}

@media screen and (max-width: $viewport_xs - 1px) {
	.meta__misc,
	.article-nav {
		display: none;
	}
}

// articulos principales del contenido
.divider {
    background: rgba(83, 200, 252, 0.9);
    height: 4rem;
    margin: 0 auto;
    width: .0625rem;
    margin-top: 2.5rem;
    margin-bottom: 3.4375rem;
}

.articles {
    display: flex;
    margin-bottom: 2.5rem;
    overflow: hidden;
}
.articles h2 {
    font-size: 1.875rem;
    line-height: 1.33333;
}

.masonry .article {
    display: table;
    width: 100%;
}

.masonry a {
    color: #000;
    text-decoration: none;
}


.masonry .photo {
    display: table-cell;
    padding-bottom: 26%;
    width: 50%;
}

.article .photo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    margin-bottom: 2.5rem;
    overflow: hidden;
    position: relative;
}

.photo {
    background-image: url(../img/marvi-pro.jpg);
}

.link-overlay {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.link-overlay:after {
    background-color: rgba(0,0,0,.3);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 100%;
}

.link-overlay:hover:after {
    opacity: 1;
}

.masonry .copy {
    box-sizing: border-box;
    display: table-cell;
    padding: 0 4.375rem;
    vertical-align: middle;
    width: 50%;
}

.masonry .copy h2 {
    margin: 0 0 1.875rem;
}
.masonry .copy h2, .masonry .copy p {
    max-width: 30rem;
}
.home-b2c h2 {
    color: #f85c4b;
}
.masonry .copy p {
    margin-bottom: 1.875rem;
}
.masonry .copy h2, .masonry .copy p {
    max-width: 30rem;
}

.mansonry a{
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.copy .arrow-cta {
    color: rgba(83, 200, 252, 1);
}