$item_width: 300px;
$sidebar_width: 300px;
$color_primary: rgba(243, 239, 224, 0.9);
$color_secondary: #fff;
$color_tercery: rgba(40, 71, 112, 0.7);
// $color_tercery: rgba(218, 190, 202, 0.89);
$color_link: rgba(83, 200, 252, 0.9);
$anim-time: 0.5s;

$meta_width: 280px;

@import "base";
@import "mediaqueries";

/* Redefine some styles for this layout */
body {
	background: $color_primary;
}

.content {
	left: auto;
	right: 0;
	width: 100vw;
}

// .content__item p {
// 	font-size: 1.15em;
// }

// .content__item p:first-of-type {
// 	margin-top: 3em;
// 	font-size: 1.15em;
// 	font-weight: bold;
// }

.fa-heart {
	color: #c84252;
}

/* Redefine the delays for the content items when they appear; redefine the translation (now from the left) */
.title--preview {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.loader {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.grid__item .category {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.grid__item--animate .title--preview {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0);
}

.grid__item--animate .loader {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
	-webkit-transform: translate3d(-30px, 0, 0);
	transform: translate3d(-30px, 0, 0);
}

.grid__item--animate .category {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translate3d(-40px, 0, 0);
	transform: translate3d(-40px, 0, 0);
}

.category--full,
.title--full {
	-webkit-transform: translate3d(40px, 0, 0);
	transform: translate3d(40px, 0, 0);
}

.content__item--show .title--full {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

@media screen and (min-width: $viewport_xs) {
	.sidebar,
	.grid {
		-webkit-transition: -webkit-transform $anim-time;
		transition: transform $anim-time;
	}
	.view-single .sidebar,
	.view-single .grid {
		-webkit-transform: translate3d(calc(#{$meta_width} - 100vw),0,0);
		transform: translate3d(calc(#{$meta_width} - 100vw),0,0);
	}
	.content__item {
		right: 0;
		padding-left: $meta_width + 60px;
	}
	.meta--full {
		position: fixed;
		width: $meta_width;
		height: 100%;
		background: $color_secondary;
		top: 0;
		left: 0;
		font-size: 0.85em;
		padding: 15px 30px;
	}
	.article-nav {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 1px solid $color_primary;
	}
	.article-nav button {
		width: 50%;
		padding: 25px;
	}
	.article-nav button:hover {
		color: #fff;
		background: $color_link;
	}
	.article-nav button:first-child {
		border-right: 1px solid $color_primary;
	}

}

@media screen and (max-width: $viewport_s - 1px) {
	.meta--full .meta__date,
	.meta--full .meta__reading-time {
		float: none;
		text-align: center;
	}
	.meta__misc--seperator {
		margin-top: 20px;
	}
	.article-nav button span {
		display: none;
	}
}

@media screen and (max-width: $viewport_xs - 1px) {
	.meta__misc,
	.article-nav {
		display: none;
	}
}

// articulos principales del contenido
.divider {
    background: rgba(83, 200, 252, 0.9);
    height: 4rem;
    margin: 0 auto;
    width: .0625rem;
    margin-top: 2.5rem;
    margin-bottom: 3.4375rem;
}

.articles {
    // display: flex;
    margin-bottom: 2.5rem;
    overflow: hidden;
}
.articles h2 {
    font-size: 1.875rem;
    line-height: 1.33333;
}

.masonry .article {
    display: table;
    width: 100%;
}

// .masonry a {
//     color: #000;
//     text-decoration: none;
// }


.masonry .photo {
    display: table-cell;
    padding-bottom: 26%;
    width: 50%;
}

.article {
    position: relative;
}

.article .photo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    margin-bottom: 2.5rem;
    overflow: hidden;
    position: relative;
}

.photo {
    background-image: url(../img/marvi-pro.jpg);
}

.link-overlay {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.link-overlay:after {
    background-color: rgba(0,0,0,.3);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 100%;
}

.link-overlay:hover:after {
    opacity: 1;
}

.masonry .copy {
    box-sizing: border-box;
    display: table-cell;
    padding: 0 4.375rem;
    vertical-align: middle;
    width: 50%;
}

.masonry .copy h2 {
    margin: 0 0 1.875rem;
}
.masonry .copy h2, .masonry .copy p {
    max-width: 30rem;
}
.home-b2c h2 {
    color: #f85c4b;
}
.masonry .copy p {
    margin-bottom: 1.875rem;
}
.masonry .copy h2, .masonry .copy p {
    max-width: 30rem;
}

.mansonry a{
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.copy .arrow-cta {
    color: rgba(83, 200, 252, 1);
}

.masonry .photo.mobile {
    // display: none;
}

.home-b2b .photo {
    background-image: url(../img/home-b2c.jpg);
}

.masonry .copy.txt-right {
    text-align: right;
}

.masonry .copy.txt-right h2, .masonry .copy.txt-right p, .masonry .copy.txt-right .arrow-cta {
    clear: right;
    float: right;
}

.home-b2b h2 {
    color: #f8ad4b;
}

.masonry .article:after {
    clear: both;
    content: '';
    display: table;
}

// seccion nueva portfolio
@media (min-width: 60em){
    .work-callout_with-border {
    border-width: 1.5em 1.5em 0 1.5em;
}
}
.work-callout_with-border {
    border-style: solid;
    border-color: #D5F2F7;
    border-width: 1em 1em 0 1em;
}

@media (min-width: 60em){
    .work-callout {
    display: table;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: calc(100% - 4em);
    max-width: 135em;
    margin: 0 auto;
    min-height: 26em;
}
}
.work-callout {
    color: #1C4C55;
}



.work-callout--media {
    padding: 0;
    overflow: hidden;
    background-color: #0f3138;
}
.work-callout {
    color: #1C4C55;
}
@media (min-width: 60em){
    .work-callout--media {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    float: left;
    width: 60%;
}
}

.work-callout--image-wrapper {
    margin: 0;
    line-height: 0;
    overflow: hidden;
}
@media (min-width: 60em){
    .work-callout--0 {
    background: url(../img/marvi-pro.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
}
}

@media (min-width: 60em){
    .work-callout--image-wrapper {
    margin-bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-position: center;
    background-size: cover;
}
}

.work-callout--image-wrapper a {
    display: block;
    margin: 0;
}

.work-callout--image {
    width: 100%;
    max-width: auto;
}
@media (min-width: 60em){
    .work-callout--image {
    visibility: hidden;
}
}

.work-callout--content {
    position: relative;
    padding: 4vw;
    background-color: #fff;
    margin-top: 0;
}

@media (min-width: 60em){
    .work-callout--content {
    float: right;
    width: 40%;
    margin-top: 0;
}
}

.work-callout--title {
    margin: 0;
    margin-top: 2em;
    padding: 0;
    font-size: 1em;
    color: #50B7C8;
}

.work-callout--title h2{
    line-height: 1.125;
}
@media (min-width: 60em){
    .work-callout--title {
    font-size: 1.5em;
}
}
@media (min-width: 32em){
    .work-callout--title {
    font-size: 1.25em;
    padding: 0;
}
}
.work-callout--title a {
    color: #50B7C8;
    margin: 0;
    padding: 0;
    line-height: 1em;
}
.work-callout--body {
    margin: 0;
    margin-top: .15em;
    padding: 0;
    font-size: 1em;
    font-weight: 700;
}
@media (min-width: 60em){
    .work-callout--body {
    font-size: 1.5em;
    max-width: 22em;
}
}

@media (min-width: 32em){
    .work-callout--body {
    font-size: 1.25em;
    padding: 0;
}
}

.work-callout--body p {
    margin: .5em 0 0 0;
    line-height: 1.25em;
}
.wysiwyg p {
    font-size: 1.05em;
    line-height: 1.8em;
}
.work-callout--button-wrapper {
    padding-top: 1em;
}
.work-callout--button {
    background-color: #fff;
    color: #50B7C8;
    vertical-align: middle;
    margin-left: 0;
    padding: .75em;
    font-size: .75em;
    font-weight: 600;
}
.work-callout--button:hover {
    color: #EAFCFF;
    background-color: #1C4C55;
}
@media (min-width: 32em){
    .work-callout--button {
    font-size: 1em;
}
}

@media (min-width: 60em){
    .work-callout--button {
    margin-top: 8vh;
}
}

.button_inline {
    display: inline-block;
}
.button {
    border: none;
    margin: 0;
    cursor: pointer;
}
.button_standard {
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    padding: 0.8em 1.4em;
}
@media (min-width: 60em){
    .work-callout--button {
    margin-top: 8vh;
}
}
@media (min-width: 32em){
    .work-callout--button {
    font-size: 1em;
}
}
@media (min-width: 60em){
    .work-callout--content:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    left: -2.4375em;
    margin-top: -.9375em;
    border-color: transparent;
    border-right-color: #fff;
    border-width: .9375em 1.25em;
    pointer-events: none;
}
}
.button_has-external-icon:after, .foundry-article--content .the-link:after {
    content: "\e603";
    font-size: 1.1em;
    position: relative;
    top: 1px;
}
.button_has-icon:after, .foundry-article--content .the-link:after {
    margin-left: 1em;
    font-family: Icon;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
