<a ng-repeat="blogItem in items" ui-sref="frontpage.single({slug: blogItem.post_name})" ng-click="showItem()">
    <div class="portfolioitem">
        <div class="portfoliooverlay">
            <div class="portfolioinfo">
                <h2 class="bloghead">{{ blogItem.post_title }}</h2>
                <ul class="blogmeta">
                    <li><i class="fa fa-calendar"></i> {{ blogItem.readable_post_date }}</li>
                </ul>
            </div>
        </div>
        <img ng-src="{{ blogItem.featured_image[0] }}" />
    </div><!-- End Blog blogItem -->
</a>
